body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
}
.tile {
    border: solid black thin;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

@media (max-width: 480px) {
    .tile {
        width: 75px;
        height: 75px;
    }
}