@font-face {
    font-family: "Chalk";
    src: url("/assets/fonts/SqueakyChalkSound.ttf") format("truetype")
}

body {
    margin: 0;
    padding: 0;
    font-family: Chalk;
    color: white;
}

body * {
    font-family: inherit;
    color: inherit
}